.container{
    background-color: rgb(102, 205, 145);
    padding: 12px;
    border-radius: 30px;
    width: 30%;
    margin: 40px auto;
}
.con2{
  background-color: #dc8888;
  padding: 12px;
  border-radius: 30px;
  width: 30%;
  margin: 40px auto;
}
.btnstyle{
  background-color: #cd3030;
  border: none;
  border-radius: 30%;
  padding-bottom: 5px;
  margin-left: 10px;
  color: white;
  font-size: 18px;

}
.btns{
    background-color: #177420;
    border: none;
    border-radius: 30%;
    padding-bottom: 5px;
    margin-left: 10px;
    color: white;
  }